header {
  border: 2px solid black;
}

.cart-button {
  display: block;
  margin-left: auto;
  margin-right: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.goods-list {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.goods-item {
  border: 2px solid black;
}

body {
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
